.scis > * {
	width: 100%;
}

.scis-row{
	margin-right: -15px;
  	margin-left: -15px;
}

.scis-col-4, .scis-col-8 {
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}

.scis-col-4, .scis-col-8{
	float: left;
}

.scis-col-4{
	width: 33.33333333%;
}

.scis-col-8{
	width: 58.33333333%;
}

.scis-clear{
	clear: both;
}


h2.scis-header {
    padding: 30px;
    background: #cc0000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1em;    
    margin-right: 10px;
}


.scis-form-new-code{
	border: 1px solid #CCC;
	padding: 10px;
	width: 300px;
	height: auto;
}

.scis-form-group{
	padding: 10px;
}

.scis-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.scis-alert h4 {
  margin-top: 0;
  color: inherit;
}
.scis-alert, .scis-alert-link {
  font-weight: bold;
}


.scis-alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.scis-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.scis-alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.scis-alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@media print {
  
	.scis-table {
		border-collapse: collapse !important;
	}
	.scis-table td,
	.scis-table th {
		background-color: #fff !important;
	}
	.scis-table-bordered th,
	.scis-table-bordered td {
		border: 1px solid #ddd !important;
	}
}

.scis-table a{
	text-decoration: none;
}
table.scis-table {
	background-color: transparent;
	text-align: center;
}
caption.scis-table {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left;
}
th.scis-table {
	text-align: left;
}
.scis-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.scis-table > thead > tr > th,
.scis-table > tbody > tr > th,
.scis-table > tfoot > tr > th,
.scis-table > thead > tr > td,
.scis-table > tbody > tr > td,
.scis-table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.scis-table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.scis-table > caption + thead > tr:first-child > th,
.scis-table > colgroup + thead > tr:first-child > th,
.scis-table > thead:first-child > tr:first-child > th,
.scis-table > caption + thead > tr:first-child > td,
.scis-table > colgroup + thead > tr:first-child > td,
.scis-table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

.scis-table > tbody + tbody {
	border-top: 2px solid #ddd;
}

.scis-table-condensed > thead > tr > th,
.scis-table-condensed > tbody > tr > th,
.scis-table-condensed > tfoot > tr > th,
.scis-table-condensed > thead > tr > td,
.scis-table-condensed > tbody > tr > td,
.scis-table-condensed > tfoot > tr > td {
	padding: 5px;
}

.scis-table-bordered {
	border: 1px solid #ddd;
}
.scis-table-bordered > thead > tr > th,
.scis-table-bordered > tbody > tr > th,
.scis-table-bordered > tfoot > tr > th,
.scis-table-bordered > thead > tr > td,
.scis-table-bordered > tbody > tr > td,
.scis-table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}
.scis-table-bordered > thead > tr > th,
.scis-table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.scis-table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.scis-table-hover > tbody > tr:hover {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	display: table-column;
	float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	display: table-cell;
	float: none;
}
.scis-table > thead > tr > td.active,
.scis-table > tbody > tr > td.active,
.scis-table > tfoot > tr > td.active,
.scis-table > thead > tr > th.active,
.scis-table > tbody > tr > th.active,
.scis-table > tfoot > tr > th.active,
.scis-table > thead > tr.active > td,
.scis-table > tbody > tr.active > td,
.scis-table > tfoot > tr.active > td,
.scis-table > thead > tr.active > th,
.scis-table > tbody > tr.active > th,
.scis-table > tfoot > tr.active > th {
	background-color: #f5f5f5;
}
.scis-table-hover > tbody > tr > td.active:hover,
.scis-table-hover > tbody > tr > th.active:hover,
.scis-table-hover > tbody > tr.active:hover > td,
.scis-table-hover > tbody > tr:hover > .active,
.scis-table-hover > tbody > tr.active:hover > th {
	background-color: #e8e8e8;
}
.scis-table > thead > tr > td.success,
.scis-table > tbody > tr > td.success,
.scis-table > tfoot > tr > td.success,
.scis-table > thead > tr > th.success,
.scis-table > tbody > tr > th.success,
.scis-table > tfoot > tr > th.success,
.scis-table > thead > tr.success > td,
.scis-table > tbody > tr.success > td,
.scis-table > tfoot > tr.success > td,
.scis-table > thead > tr.success > th,
.scis-table > tbody > tr.success > th,
.scis-table > tfoot > tr.success > th {
	background-color: #dff0d8;
}
.scis-table-hover > tbody > tr > td.success:hover,
.scis-table-hover > tbody > tr > th.success:hover,
.scis-table-hover > tbody > tr.success:hover > td,
.scis-table-hover > tbody > tr:hover > .success,
.scis-table-hover > tbody > tr.success:hover > th {
	background-color: #d0e9c6;
}
.scis-table > thead > tr > td.info,
.scis-table > tbody > tr > td.info,
.scis-table > tfoot > tr > td.info,
.scis-table > thead > tr > th.info,
.scis-table > tbody > tr > th.info,
.scis-table > tfoot > tr > th.info,
.scis-table > thead > tr.info > td,
.scis-table > tbody > tr.info > td,
.scis-table > tfoot > tr.info > td,
.scis-table > thead > tr.info > th,
.scis-table > tbody > tr.info > th,
.scis-table > tfoot > tr.info > th {
	background-color: #d9edf7;
}
.scis-table-hover > tbody > tr > td.info:hover,
.scis-table-hover > tbody > tr > th.info:hover,
.scis-table-hover > tbody > tr.info:hover > td,
.scis-table-hover > tbody > tr:hover > .info,
.scis-table-hover > tbody > tr.info:hover > th {
	background-color: #c4e3f3;
}
.scis-table > thead > tr > td.warning,
.scis-table > tbody > tr > td.warning,
.scis-table > tfoot > tr > td.warning,
.scis-table > thead > tr > th.warning,
.scis-table > tbody > tr > th.warning,
.scis-table > tfoot > tr > th.warning,
.scis-table > thead > tr.warning > td,
.scis-table > tbody > tr.warning > td,
.scis-table > tfoot > tr.warning > td,
.scis-table > thead > tr.warning > th,
.scis-table > tbody > tr.warning > th,
.scis-table > tfoot > tr.warning > th {
	background-color: #fcf8e3;
}
.scis-table-hover > tbody > tr > td.warning:hover,
.scis-table-hover > tbody > tr > th.warning:hover,
.scis-table-hover > tbody > tr.warning:hover > td,
.scis-table-hover > tbody > tr:hover > .warning,
.scis-table-hover > tbody > tr.warning:hover > th {
	background-color: #faf2cc;
}
.scis-table > thead > tr > td.danger,
.scis-table > tbody > tr > td.danger,
.scis-table > tfoot > tr > td.danger,
.scis-table > thead > tr > th.danger,
.scis-table > tbody > tr > th.danger,
.scis-table > tfoot > tr > th.danger,
.scis-table > thead > tr.danger > td,
.scis-table > tbody > tr.danger > td,
.scis-table > tfoot > tr.danger > td,
.scis-table > thead > tr.danger > th,
.scis-table > tbody > tr.danger > th,
.scis-table > tfoot > tr.danger > th {
	background-color: #f2dede;
}
.scis-table-hover > tbody > tr > td.danger:hover,
.scis-table-hover > tbody > tr > th.danger:hover,
.scis-table-hover > tbody > tr.danger:hover > td,
.scis-table-hover > tbody > tr:hover > .danger,
.scis-table-hover > tbody > tr.danger:hover > th {
	background-color: #ebcccc;
}
.scis-table-responsive {
	min-height: .01%;
	overflow-x: auto;
}
@media screen and (max-width: 767px) {
.scis-table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd;
}
.scis-table-responsive > .scis-table {
	margin-bottom: 0;
}
.scis-table-responsive > .scis-table > thead > tr > th,
.scis-table-responsive > .scis-table > tbody > tr > th,
.scis-table-responsive > .scis-table > tfoot > tr > th,
.scis-table-responsive > .scis-table > thead > tr > td,
.scis-table-responsive > .scis-table > tbody > tr > td,
.scis-table-responsive > .scis-table > tfoot > tr > td {
	white-space: nowrap;
}
.scis-table-responsive > .scis-table-bordered {
	border: 0;
}
.scis-table-responsive > .scis-table-bordered > thead > tr > th:first-child,
.scis-table-responsive > .scis-table-bordered > tbody > tr > th:first-child,
.scis-table-responsive > .scis-table-bordered > tfoot > tr > th:first-child,
.scis-table-responsive > .scis-table-bordered > thead > tr > td:first-child,
.scis-table-responsive > .scis-table-bordered > tbody > tr > td:first-child,
.scis-table-responsive > .scis-table-bordered > tfoot > tr > td:first-child {
	border-left: 0;
}
.scis-table-responsive > .scis-table-bordered > thead > tr > th:last-child,
.scis-table-responsive > .scis-table-bordered > tbody > tr > th:last-child,
.scis-table-responsive > .scis-table-bordered > tfoot > tr > th:last-child,
.scis-table-responsive > .scis-table-bordered > thead > tr > td:last-child,
.scis-table-responsive > .scis-table-bordered > tbody > tr > td:last-child,
.scis-table-responsive > .scis-table-bordered > tfoot > tr > td:last-child {
	border-right: 0;
}
.scis-table-responsive > .scis-table-bordered > tbody > tr:last-child > th,
.scis-table-responsive > .scis-table-bordered > tfoot > tr:last-child > th,
.scis-table-responsive > .scis-table-bordered > tbody > tr:last-child > td,
.scis-table-responsive > .scis-table-bordered > tfoot > tr:last-child > td {
	border-bottom: 0;
}